body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    background-color: #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}

li a{
    display: block;
    padding: .5rem .75rem;
    transition: all 250ms ease;
}

li a:hover{
    background-color: #ccc;
}

header > div{
    background-color: #333;
    height: 90vh;
    position: relative;
}

header > div > h2{
    position: absolute;
    left: 10%;
    bottom: 50px;
    color: white;
}

