.background {
    background-image: url("/imgs/mobile/bg-login.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.backgroundRegistro {
    background-image: url("/imgs/mobile/bg-registro.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.registrarme {
    color: var(--violeta);
}