.usuario {
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding: 2.5rem 20px 2rem 20px;
    background-color: var(--violeta);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    overflow: hidden;
}

.usuario img {
    display: block !important;
    margin: auto !important;
    border-radius: 50%;
    border: 2px solid var(--amarillo) !important;
    width: 100%;
    min-width: 50px;
    height: 50px;
}

.usuario div {
    padding-left: 10px;
}

.email {

}