#login {
    min-height: calc(100vh - 104px);
}

main {
    min-height: calc(100vh - 200px);
}

#menu {
    font-size: 0;
}

#modal {
    background-color: rgba(0,0,0,0.4);
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.img-perfil {
    width: 100%;
    min-width: 200px;
}

@media (max-width: 911px) {
    .botones {
        flex-direction: column;
    }
}
