:root {
    --negro: #222222;
    --amarillo: #FFC800;
    --violeta: #5C3AE2;
    --gris: #7C7C7C;
    --blanco: #fff;
}

#logo {
    max-width: 120px;
    width: 100%;
}

#login {
    min-height: calc(100vh - 104px);
}

main {
    min-height: calc(100vh - 200px);
}

#menu {
    font-size: 0;
}

#modal {
    background-color: rgba(0,0,0,0.4);
}

.botones {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.img-perfil {
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

.img-noticia, .img-evento {
    width: 100%;
    height: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
}

.w-50 {
    max-width: 50%;
}

#ellos {
    margin: 3em auto;
}

#ellos img {
    max-width: 100%;
    max-height: 600px;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    object-position: center;
    position: relative;
    z-index: 3;
}

#ellos .swiper-slide {
    background-position: center center;
    position: relative;
}

#ellos .swiper-slide::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    filter: blur(10px);
    background-image: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-position: center center;
}

#ellos .swiper-slide::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 2;
    filter: blur(10px);
    background-image: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    right: 0;
    top: 0;
    background-position: center center;
}

.preview {
    max-width: 300px;
    max-height: 300px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 1rem auto;
}

.tableta {
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: 1px solid darkgrey;
    border-left: 50px solid darkgrey;
}

.tableta.verificados {
    border-image: linear-gradient(180deg, var(--violeta) 50%, var(--amarillo) 50%) 1;
}

.tableta.noticias {
    border-color: var(--violeta);
}

#noticias > div:first-of-type {
    border-top-right-radius: 0;
}

.tableta.eventos {
    border-color: var(--amarillo);
}

.border-yellow-500 {
    border-color: var(--amarillo);
}

.detalle {
    line-height: 1.5;
    word-break: break-word;
}

@media (max-width: 911px) {
    .botones {
        flex-direction: column;
    }
}
